* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*make a smooth scroll for document*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6e6e6;
  color: #213744;
  padding: 10px;
}

.header a {
  text-decoration: none;
}

.header a h1 {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-top: 5px;
  color: #1c1c1c;
}

.header a h1 span {
  font-size: 8px;
  font-weight: 500;
}

.header nav {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav ul li {
  display: inline;
  padding: 20px;
}

.header nav ul li a {
  color: #b68a87;
  text-decoration: none;
}

.header nav ul li a:hover {
  color: #213744;
}

.header nav ul li a.active {
  color: #213744;
}

.menu {
  display: none;
}

.menu button {
  color: #b68a87;
  border: 0;
  font-size: 20px;
  background-color: #e6e6e6;
  outline: none;
}

.row {
  text-align: center;
  margin-top: 10px;
}

.row .col-12 {
  padding: 2px;
}

.row #text {
  font-size: 15px;
}

.row #text p {
  height: 100%;
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.row #aboutImage img {
  padding-top: 10px;
}

label, input, textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #b68a87;
}

.contact {
  text-align: center;
  padding: 50px;
}

.contact h1 {
  color: #213744;
}

.contact input, .contact textarea {
  border: 2px solid #d4c6bd;
}

.submit {
  padding: 8px;
  border-radius: 10px;
  font-size: 12px;
  color: #213744;
  background-color: #d4c6bd;
  border: 0;
}

.submit:hover {
  background-color: #b68a87;
  color: white;
}

.status {
  color: red;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #d4c6bd;
  color: #213744;
  cursor: pointer;
  padding: 15px;
  border-radius: 20%;
}

#backToTop:hover {
  background-color: #b68a87;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e6e6e6;
  margin-top: 10px;
  padding: 15px;
}

.footer p {
  font-size: 15px;
}

.footer a {
  color: #1c1c1c;
  font-size: 20px;
}

.footer a:hover {
  color: #213744;
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
  .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #e6e6e6;
    position: absolute;
    width: 100%;
    height: 40%;
    font-size: 20px;
    left: 0%;
    z-index: 1;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  }
  .nav-links.show {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu button:hover {
    color: #213744;
  }
  /*.contact {
        height: 70vh;
    }

    .footer {
        height: 15vh;
    }*/
}
/*# sourceMappingURL=style.css.map */